{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
          {% if name %}
            こんにちは {{ name }} さん
          {% else %}
            {{ message }}
          {% endif %}
        </p>
          <form action="/" method="post" class="form-inline">
          データフレーム名
          <input type="text" 
                 class="form-control" 
                 id="df_name" 
                 name="df_name" 
                 placeholder="df_name" 
                 value="{% if sv_df_name %}{{ sv_df_name }}{% endif %}">
          の列名
          <input type="text" 
                 class="form-control" 
                 id="df_column" 
                 name="df_column" 
                 placeholder="column_name" 
                 value="{% if sv_column_name %}{{ sv_column_name }}{% endif %}">
          を
          <select name="df_sort" size="1">
          <option value="0">昇順</option>
          <option value="1">降順</option>
          </select>
          に並び替える。
          <button type="submit" class="btn btn-default">Coder</button>
        </form>
        {{ ret_code }} 
      </div>
    </div>
  </div>
</div>
{% endblock %}
